# Ignora tudo
*

# Arquivos e pastas permitidos
!.gitignore
!requirements.txt
!*.py

# Pastas
!ADB/
!lives/
!vision/
!shopee-candy/
!img/
!img/lives/

# Arquivos PNG específicos
!img/lives/claim_buttom_v2.png
!img/lives/coin_v2.png

# Configuração
!pyproject.toml
!CLAUDE.md
